@import "home";


.button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  // font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.5em 1.5em;
  letter-spacing: 0.05rem;
  margin: 0.5em;
  // width: 13rem;
  background-color: #8d7197;
  border-radius: 15px;
  font-size: 18px;
  text-decoration: none;
}


.button:focus {
  outline: 2px dotted #ffffff;
}


.card {
  background-color: #555B6E;
  height: 18rem;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color:white;
  // padding-top: 15px;
  // overflow: scroll;
}

.card-name {
  font-size: 1.5rem;
}

.card-icon-container {
  position: relative;
}

.chat-list {
  height: 100vh;
  margin: 0 auto;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #ffffff1c;
  color: #0000001c;
  padding: 8px 25px;
  border-radius: 15px;
  margin-top: 30px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
}

// .dropdown {
//   width: 250px;
//   justify-content: flex-end;
// }

figure {
  display: grid;
  gap: 1ex;
  margin: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: transform .2s ease-in-out;
  width: 148px;
  height: 148px;

  &:hover {
    transform: scale(1.1);
  }

  &:last-child::after {
    content: "";
    position: absolute;
    right: 2rem;
    inline-size: 1rem;
    block-size: 100%;
  }

  & > picture {
    width: 100%;
    display: inline-block;
    // inline-size: 10ch;
    // block-size: 10ch;
    border-radius: 50%;
    background: #555B6E;
    width: 148px;
    height: 148px;

    & > img {
      display: block;
      // inline-size: 100%;
      // block-size: 100%;
      height: 100%;
      object-fit: cover;
      // clip-path: circle(42%);
      width: 100%;
      max-width: 100%;
      // width: 160px;
      border-radius: 50%;
      // border: 1px solid black;
      object-fit: cover;
      padding: 1px;
      // box-shadow: 0px 0px 30px #98A5D0;
    }
  }
}

.flex-container{
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 0em;
  display: flex;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 14px;
  left: 14px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #8d7197, #8d7197);
  transition: all 200ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 200ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.4);
  -ms-transform: scale(2.4);
  -webkit-transform: scale(2.4);
  color: #ffffff;
  background: -webkit-linear-gradient(45deg, #FAF9F9, #FAF9F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom:-5px;
}

.swiper-slide {
  text-align: center;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next {
  position:relative !important;
  bottom: -190px;
  right: -10px !important;
}

.swiper-button-prev{
  position:relative !important;
  bottom: -190px;
  left: -10px !important;
}


#map {
  border-radius: 15px;
  border: 0px solid black;
  margin-bottom: 30px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
}

#container {
  display: flex;
  justify-content:start;
  align-items: center;
}

.to-pin-user {
  opacity: 0.3;
  color: white;
}

.pinned-user {
  opacity: 1;
  color: white;
}
