.profile-container {
  position: relative;
}

.profile-contents {
  // position: absolute;
  background-color: white;
  border-radius: 15px;
  border: 1px solid lightgrey;
  // top: 10vh;
  // bottom: 60vh;
  // left: 20vw;
  // right: 20vw;
  margin: 10vh 15vw;
  padding: 3vh 5vw;
}

.github_and_linkedin {
  display: flex;
  justify-content: center;
  padding-right: 5vw;
}

.user-image-container {
  width: 100px;
  height: 100px;
}

#user-image {
  margin: 8px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.container-name-icons{
  margin-top: -94px;
  padding-left: 137px;
}

.profile-github-button {
  color: white;

  &:hover {
    // background-color: white;
    opacity: 0.9;
    color: black;
    transition: 0.3s;
  }
}

.profile-linkedin-button {
  color: white;

  &:hover {
    // background-color: white;
    opacity: 0.9;
    color: black;
    transition: 0.3s;
  }
}
