.signup-form-container {
  margin: 10vh;
  padding: 0 20vw;
}

#language-input {
  margin-bottom: 20px;
}

.sign-in-submit {
  color: white;
}

#language-label {
  margin-bottom: 7px;
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-in-page img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -20px;
}

.sign-up-contents {
  background-color: white;
  border-radius: 15px;
  border: 1px solid lightgrey;
  margin: 10vh 10vw;
  padding: 3vh 5vw;
}
