<div class="container">
  <%# Details here ........... %>
  <% chat_request = @chat_requests.find{ |chat| chat.asker == user || chat.receiver == user } %>
  <% if chat_request %>
    <%= link_to "Pin user", chat_request_path(chat_request) %>
  <% else %>
    <%# Disable button %>
  <% end %>
</div>
