<div class="card-container">
  <div class="card-details">
    <div class="card-img">
      <%# Add image here %>
    </div>
    <div class="card-text">
      <%# Add github content here %>
    </div>
  </div>
  <div class="card-buttons">
    <% chat_request = @chat_requests.find{ |chat| chat.asker == user || chat.receiver == user } %>
    <%= link_to "Pin user", chat_request_path(chat_request),
        class: "card-button #{chat_request ? '' : 'disabled'}"
    %>
  </div>
</div>
