<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# One problem is that iterating through all users will include the current user %>
<% @users.each do |user| %>
  <% next if current_user == user %>
  <%= render "user_card", user: user %>
<% end %>
