<%# <div class = "d-fixed right-0 bottom-0">

<button type="button" class="btn btn-primary">Request</button>

</div> %>

<!-- Default dropup button -->
<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Request
  </button>
  <div class="dropdown-menu">
    <!-- chat box goes here -->

  </div>
</div>
