<div class = "container mt-1 d-fixed right-0 bottom-0", style="
    padding-top: 40px">

  <% if current_user == chat_request.asker %>
    <% if chat_request.pending? == true %>
      <%= link_to "#", class: "button draw-border mr-2", disabled: true do %>
        <i class="fa-regular fa-hourglass-half" id= "fontcolor" ></i>
      <% end%>
    <% end%>
    <%#= chat_request.receiver.nickname%> <%#= chat_request.status %>
  <% end%>
  <% if current_user == chat_request.receiver %>
    <%#= chat_request.asker.nickname %>
    <% if chat_request.pending? == false %>
      <%= chat_request.status %>
    <% else %>
      <%= link_to chat_request_path(chat_request, status: 1), data: {'turbo-method': :patch}, class: "button draw-border mr-2" do %>
        <i class="fa-solid fa-user-plus" id= "fontcolor"></i>
      <% end %>

      <%= link_to chat_request_path(chat_request, status: -1), data: {'turbo-method': :patch}, class: "button draw-border mr-2" do %>
        <i class="fa-solid fa-trash" id= "fontcolor"></i>
      <% end  %>
    <% end %>
  <% end %>
</div>
