<section class="showcase">
  <header>
    <%# <h2 logo= "logo">Socialize</h2> %>
    <div class="toggle"></div>
  </header>
  <div class="overlay"></div>
  <div class="text">
    <h2>Socialize</h2>
    <div class="">
        <div class="d-flex flex-row justify-content-center">
          <div class="align-self-center", style="color:white";>
          <h2 style="font-size:70px"><strong><b>BUILT</b></strong></h2></div>
          <div class="h2"></div>

          <div class="d-flex flex-column">
            <div class="align-self-center", style="color:white";><h2 style="font-size:35px"><strong><b>BY</b></strong></h2></div>
            <div class="align-self-center", style="color:white";><h2 style="font-size:35px"><strong><b>FOR</b></strong></h2></div>
          </div>
          <div class="align-self-center", style="color:white";><h2 style="font-size:70px"><strong><b>DEVELOPERS</b></strong></h2></div>
        </div>
      </div>
      <p>Wanna socialize with other developers? Fear not! With socialize, you can do just that!</p>
    <%= link_to "Learn more", "/all_programmers", class: "btn-landing" %>

  </div>
</section>

<section class = "information">
</section>
