<section class="showcase">
  <header>
    <%# <h2 logo= "logo">Socialize</h2> %>
    <div class="toggle"></div>
  </header>
  <div class="overlay"></div>
  <div class="text">
    <h2>Socialize</h2>
    <h3>BY DEVELOPERS, FOR DEVELOPERS</h3>
    <p>Wanna socialize with other developers? Fear not! With socialize, you can do just that!</p>
    <%= link_to "Learn more", "/all_programmers", class: "btn btn-success" %>

  </div>
</section>

<section class = "information">
  adasadasad
</section>
