<section class="showcase">
  <header>
    <%# <h2 logo= "logo">SocializeHHI</h2> %>
    <div class="toggle"></div>
  </header>
    <div class="text">
      <h2 class="socialize mb-4"; style="font-size:130px; letter-spacing: 8px">Socialize</h2>
      <div class="">
        <div class="d-flex flex-row justify-content-center">
          <div class="align-self-center", style="color:white";>
          <h2 style="font-size:70px";>BUILT</h2></div>
          <div class="d-flex flex-column">
            <div class="align-self-center", style="color:white";><h2 style="font-size:35px";>BY</h2></div>
            <div class="align-self-center", style="color:white";><h2 style="font-size:35px;">FOR</h2></div>
          </div>
          <div class="align-self-center", style="color:white";><h2 style="font-size:70px">DEVELOPERS</h2></div>
        </div>
      </div>
      <p style="font-size:21.3px";>Wanna socialize with other developers? Fear not! With socialize, you can!</p>
      <%= link_to "Learn more", "/all_programmers", class: "btn-landing" %>
    </div>
</section>

<section class = "information">
</section>
