.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 0px solid lightgrey;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);  ;
}

.mapboxgl-popup-content{
  border-radius: 15px !important;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  padding-right: 5px;
}

.mapboxgl-popup {
  min-width: fit-content;
}
