.chat-list {
  background: #FAF9F9;
  margin-top: 9px;
  height: calc(100vh - 75px) !important;
  flex-direction: column;
  margin-right: 10px;
  overflow-y: scroll;
  width: 25%;
  --scrollbarBG: #CFD8DC;
  --thumbBG: #dde5e9;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.chat-list::-webkit-scrollbar {
  display: none;
}
.chat-list::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.chat-list::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 15px;
  border: 3px solid var(--scrollbarBG);
}
ol, ul {
  padding-left: 0.5rem !important;
}


.chat-list h1 {
  margin-top: 10px;
}
.chatroom {
  background: #FAF9F9;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid rgba(100,100,100,0.6);
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;

  }
  .messages {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #dde5e9;
  }
  .messages::-webkit-scrollbar {
    display: none;
  }
  .messages {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .messages::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .messages::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 15px;
    border: 3px solid var(--scrollbarBG);
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
.sender {
  background-color:#1c489037;
  padding: 10px;
  border-radius: 15px;
  margin-right: 0;
  margin-left: 80%;
}

.receiver {
  border-radius: 15px;
  background-color: rgba(230, 231, 146, 0.683);
  padding: 10px;

}

.message-item {
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px
}


#message{
  display:flex;
}


.image-chat img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
}

.center-message {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
