.border-chat {
  border: 1px solid black;
}
.chat-list {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  flex-direction: column;
  margin-right: 10px;
  overflow: scroll;
}

.chat-list h1 {
  margin-top: 10px;
}
.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
