.index-event-card{
  position: absolute;
  top: 48px;
  right: 20px;
  padding: 5px;
  width: 250px;
  height: 56.5rem;
  border-radius: 15px;
  border: #555B6E;
  border-width: 3px;
  border-style: dashed;
  color:#555B6E;
  &-a {
    color: #000000;
    &-hover{
      color:#555B6E;
    }
  }
}
