.index-event-card{
  position: absolute;
  top: 48px;
  right: 20px;
  padding: 5px;
  width: 250px;
  height: 56.5rem;
  border-radius: 15px;
  border: #555B6E;
  border-width: 3px;
  border-style: dashed;
  color:#555B6E;
}


.event-cards {
  background-color: #555B6E;
  height: 18rem;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color:white;
}
.event-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  // font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.5em 1.5em;
  letter-spacing: 0.05rem;
  margin: 0.5em;
  // width: 13rem;
  background-color: #8d7197;
  border-radius: 15px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.event-button:hover {
  text-decoration: none;
  outline: 2px dotted #ffffff;
  color: rgb(64, 49, 15);
}
