.footer-custom footer {
  color: rgb(0, 0, 0);
  background-color: rgba(214, 170, 170, 0.63);
}

.footer-icon {
  color: rgb(0, 0, 0);
  padding: 0px 5px;
  font-size: 20px;
}

.footer-email {
  text-decoration:none;
  color: rgb(0, 0, 0);
}
