.footer-custom footer {
  color: rgb(255, 255, 255);
  background-color: black;
}

.footer-icon {
  color: rgb(255, 255, 255);
  padding: 0px 5px;
  font-size: 20px;
}

.footer-email {
  text-decoration:none;
  color: rgb(255, 255, 255);
}
