.footer-custom footer {
  color: white;
  background-color: rgb(62, 79, 131);
}

.footer-icon {
  color: white;
  padding: 0px 5px;
  font-size: 20px;
}

.footer-email {
  text-decoration:none;
  color:white;
}
