// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "pages/devise";
@import "pages/sign_in_info";
@import "pages/profile";

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
